[Unit]
Description=Run Fortune Bot hourly-cycle every hour

[Timer]
OnCalendar=hourly
Persistent=true
Unit=fortune-bot-hourly-cycle.service

[Install]
WantedBy=timers.target
