[Unit]
Description=Run Fortune Bot refresh-universe every 6 hours

[Timer]
OnCalendar=*-*-* 00/6:05:00
Persistent=true
Unit=fortune-bot-refresh-universe.service

[Install]
WantedBy=timers.target
